@import "../variables";
.hero {
  min-height: calc(60vh - 60px); // 60px - header height
  padding: 60px 0 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  > .container {
    z-index: 10;
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .overlay {
    @include background-opacity($goldendream, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  h1 {
    @include title-font;
    font-size: 46px;
    margin: 0;
    color: $cod;
  }
  p {
    margin: 0;
    color: $cod;
    font-size: 19px;
    &.large {
      font-size: 22px;
    }
    &:not(.large) {
      margin-top: 20px;
    }
  }
}

@media only screen and (min-width: $medium) {
  .hero {
    padding: 120px 0 80px;
    > .container {
      max-width: 680px;
      margin-left: calc((100vw - 680px) / 3);
    }
    h1 {
      font-size: 53px;
    }
  }
}

@media only screen and (min-width: $large) {
  .hero {
    > .container {
      max-width: 870px;
      margin-left: calc((100vw - 870px) / 3);
    }
  }
}