button,
.button {
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 30px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
  text-decoration: none;
  transition: 0.4s;
  color: $cod;
  background: $white;
  border: 1px solid $white;
  &:hover {
    color: $white;
    background: $cod;
  }
  &.button-blue {
    background: $danube;
    color: $white;
    border: 1px solid $danube;
    &:hover {
      background: $white;
      color: $danube;
    }
  }
  &.button-red {
    background: $nightshadz;
    color: $white;
    border: 1px solid $nightshadz;
    &:hover {
      background: $white;
      color: $nightshadz;
    }
  }
  &.button-black {
    background: #313131;
    color: $white;
    border: 1px solid #313131;
    &:hover {
      background: $white;
      color: #313131;
    }
  }
  &.button-yellow {
    background: $goldendream;
    color: $white;
    border: 1px solid $goldendream;
    &:hover {
      background: $white;
      color: $goldendream;
    }
  }
  &.button-gray {
    background: $gray;
    color: $white;
    border: 1px solid $gray;
    &:hover {
      background: $white;
      color: $gray;
    }
  }
}