.page.focus,
.page.services {
  .focus-grid {
    .inner-box {
      display: grid;
      grid-gap: 0;
      grid-template-columns: 1 100vw;
      @media only screen and (min-width: $medium) {
        grid-template-columns: repeat(3, calc(100vw / 3));
      }
      .box {
        width: 100vw;
        min-height: 100vw;
        overflow: hidden;
        @media only screen and (min-width: $medium) {
          width: calc(100vw / 3);
          min-height: calc(100vw / 3);
        }
      }
      &:nth-child(even) {
        .box.content {
          background: $wildsand;
        }
      }
      &:nth-child(4n - 3) {
        .box.label {
          background: $cod;
        }
        h2 {
          color: $cod;
        }
        .button {
          background: $cod;
          color: $white;
        }
      }
      &:nth-child(4n - 2) {
        .box.label {
          background: $danube;
        }
        h2 {
          color: $danube;
        }
        .button {
          background: $danube;
          color: $white;
        }
      }
      &:nth-child(4n - 1) {
        .box.label {
          background: $goldendream;
        }
        h2 {
          color: $goldendream;
        }
        .button {
          background: $goldendream;
        }
      }
      &:nth-child(4n) {
        .box.label {
          background: $gray;
        }
        h2 {
          color: $gray;
        }
        .button {
          background: $gray;
          color: $white;
        }
      }
    }
    h2 {
      @include title-font;
    }
    .box:not(.image) {
      padding: 25px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      &.content {
        justify-content: flex-end;
        padding: 40px;
        p {
          margin: 0;
        }
        .button {
          margin-top: 15px;
        }
      }
      &.label {
        justify-content: center;
        align-items: center;
        padding: 40px;
        p {
          font-size: 36px;
          line-height: 1.1;
          margin: 20px 0 0;
          color: $white;
          font-weight: 100;
          text-align: center;
        }
        img {
          height: 100px;
          width: auto;
        }
        .number {
          font-size: 60px;
          border: 2px solid $white;
          border-radius: 100%;
          height: 150px;
          width: 150px;
          display: flex;
          align-items: center;
          justify-content: center;
          color: $white;
          flex-shrink: 0;
        }
      }
    }
    .box.image {
      img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
      .icon {
        position: absolute;
        top: auto;
        left: auto;
        bottom: -30px;
        right: -30px;
        height: 200px;
        width: auto;
        opacity: 0.2;
        object-fit: initial;
        z-index: 10;
      }
    }
    @media only screen and (min-width: $medium) {
      .box.image {
        .icon {
          bottom: -50px;
          right: -50px;
          height: 250px;
        }
      }
    }
    @media only screen and (min-width: $xxlarge) {
      .box:not(.image) {
        &.content {
          padding: 70px 45px;
          p {
            font-size: 18px;
          }
          h2 {
            font-size: 20px;
          }
        }
      }
    }
  }
}
