.page.process {
  $bullet_width: 40px;
  .process {
    @include grid-boxes(1, 2, 1fr, auto, 0);
    .box:not(.image) {
      padding: 40px 0;
      .step {
        position: relative;
        padding-bottom: 40px;
        margin-left: $bullet_width / 2;
        padding-left: $bullet_width / 2 + 10;
        img {
          position: absolute;
          top: 0;
          left: -($bullet_width / 2);
          height: $bullet_width;
          width: $bullet_width;
        }
        &:first-of-type {
          margin-top: 40px;
        }
        &:not(:last-of-type) {
          border-left: 2px solid lightgray;
        }
      }
      .step-1 {
        .title {
          color: $goldendream;
        }
      }
      .step-2 {
        .title {
          color: $danube;
        }
      }
      .step-3 {
        .title {
          color: $gray;
        }
      }
      p {
        margin: 0;
        color: #747474;
        &.title {
          @include title-font;
          font-size: 18px;
        }
        &.lead {
          font-size: 18px;
          margin-bottom: 20px;
        }
      }
    }
    .box.image {
      background: url('/assets/images/about-process.jpg') no-repeat center center;
      background-size: cover;
      min-height: 300px;
    }
    @media only screen and (min-width: $medium) {
      .box:not(.image) {
        padding: 40px 20px;
        .step {
          padding-left: $bullet_width / 2 + 30;
          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }
    }
    @media only screen and (min-width: $large) {
      @include grid-boxes(2, 1, 1fr, auto, 0);
      .box:not(.image) {
        padding: 50px 80px 50px 40px;
        h2,
        p {
          padding-left: 72px;
        }
        > .container {
          width: 100%;
        }
        .step {
          p {
            padding-left: 0;
          }
        }
      }
    }
    @media only screen and (min-width: $xlarge) {
      @include grid-boxes(2, 1, 1fr, auto, 0);
      .box:not(.image) {
        > .container {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }
    }
    @media only screen and (min-width: $xxlarge) {
      @include grid-boxes(2, 1, 1fr, auto, 0);
      .box:not(.image) {
        > .container {
          padding: 0;
          width: 650px;
          margin: 0 auto;
        }
      }
    }
    @media only screen and (min-width: $xxxlarge) {
      .box:not(.image) {
        > .container {
          width: 800px;
        }
      }
    }
  }
  .sidepitch {
    @include grid-boxes(1, 2, 1fr, auto, 0);
    .box.image {
      background: url('/assets/images/sidepitch.jpg') no-repeat center center;
      background-size: cover;
      min-height: 300px;
    }
    .box:not(.image) {
      background: $goldendream;
      padding: 40px 20px;
      h2,
      p {
        color: $cod;
      }
      .step {
        position: relative;
        padding-bottom: 40px;
        margin-left: $bullet_width / 2;
        padding-left: $bullet_width / 2 + 10;
        img {
          position: absolute;
          top: 0;
          left: -($bullet_width / 2);
          height: $bullet_width;
          width: $bullet_width;
        }
        &:first-of-type {
          margin-top: 40px;
        }
        &:not(:last-of-type) {
          border-left: 2px solid $cod;
        }
      }
    }
    p {
      margin-top: 5px;
      &.title {
        @include title-font;
        margin: 0;
      }
    }
    a {
      margin-top: 20px;
    }
    @media only screen and (min-width: $medium) {
      .box:not(.image) {
        .step {
          padding-left: $bullet_width / 2 + 30;
          &:last-of-type {
            padding-bottom: 0;
          }
        }
      }
    }
    @media only screen and (min-width: $large) {
      @include grid-boxes(2, 1, 1fr, auto, 0);
      .box:not(.image) {
        padding: 50px 80px 50px 40px;
        h2,
        p {
          padding-left: 72px;
        }
        .button {
          margin-left: 72px;
        }
        .step p {
          padding-left: 0;
        }
        > .container {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
      }
    }
  }
}