<aside class="blog-sidebar box navigation">
  <div class="navigation-container" id="container-to-stick">
    <div class="inner-container">
      {% assign businessPosts = site.posts | where: 'tags', 'business' %}
      <h3 class="color-blue">
        Business
        <span><em>({{ businessPosts.size }})</em></span>
      </h3>
      <ul>
        {% for post in businessPosts limit:3 %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        <li class="all color-blue">
          <a href="/{{ site.tag_page_dir }}/business">See all business posts</a>
        </li>
      </ul>

      {% assign managementPosts = site.posts | where: 'tags', 'management' %}
      <h3 class="color-yellow">
        Management
        <span><em>({{ managementPosts.size }})</em></span>
      </h3>
      <ul>
        {% for post in managementPosts limit:3 %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        <li class="all color-yellow">
          <a href="/{{ site.tag_page_dir }}/management">See all management posts</a>
        </li>
      </ul>

      {% assign pressPosts = site.posts | where: 'tags', 'press' %}
      <h3 class="color-red">
        Press Room &amp; News
        <span><em>({{ pressPosts.size }})</em></span>
      </h3>
      <ul>
        {% for post in pressPosts limit:3 %}
          <li>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
        {% endfor %}
        <li class="all color-red">
          <a href="/{{ site.tag_page_dir }}/press">See all press releases</a>
        </li>
      </ul>
    </div>
  </div>
</aside>