body,
html {
  margin: 0;
  overflow-x: hidden;
  box-sizing: border-box;
}

*, 
*:after,
*:before {
  box-sizing: border-box;
}

.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 70px;
  main {
    flex: 1;
  }
  @media only screen and (min-width: $large) {
    padding-top: 100px;
  }
}

.padded-section {
  padding: 30px 0;
  @media only screen and (min-width: $large) {
    padding: 60px 0;
  }
}

@import "container";