// container overrides
.container {
  width: 90%;
  margin: 0 auto;
  position: relative;
  height: 100%;
  display: block;
}

@mixin container-width($size) {
  @media only screen and (min-width: $size) {
    .container {
      width: $size - 30px;
    }
  }
}

@include container-width($small);
@include container-width($medium);
@include container-width($large);
@include container-width($xlarge);

// hero overrides
.hero {
  height: 500px;
  &.funds {
    padding: 0;
    .information-box {
      z-index: 2;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 30px 60px 30px 40px;
      img {
        height: 100px;
        width: auto;
      }
      &.bkg-yellow {
        background: $goldendream;
      }
      &.bkg-blue {
        background: $danube;
        h1,
        p {
          color: $white;
        }
      }
      &.bkg-red {
        background: $nightshadz;
        h1,
        p {
          color: $white;
        }
      }
      &.bkg-black {
        background: $cod;
        h1,
        p {
          color: $white;
        }
      }
    }
    p {
      margin: 0 0 20px;
    }
  }
}

@media only screen and (min-width: $large) {
  .hero {
    &.funds {
      > .container {
        max-width: $large - 30px;
        margin: 0 auto;
      }
      .information-box {
        width: 700px;
      }
    }
  }
}