.contact-form {
  padding-bottom: 50px;
  position: relative;
  input,
  textarea {
    background: $wildsand;
  }
  button {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .fields {
    display: flex;
    flex-wrap: wrap;
    .field {
      width: 100%;
    }
  }
  .error {
    color: $nightshadz;
    margin: 0 0 20px;
  }
  @media only screen and (min-width: $medium) {
    .fields {
      justify-content: space-between;
      .field {
        width: calc(50% - 20px);
        &:last-of-type {
          width: 100%;
        }
      }
    }
  }
}