.hero {
  padding: 60px 0 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  > .container {
    z-index: 10;
  }
  &.bkg-business {
    h1,
    p {
      color: white;
    }
    .overlay {
      @include background-opacity($danube, 0.9);
    }
  }
  &.bkg-management {
    .overlay {
      @include background-opacity($goldendream, 0.9);
    }
  }
  &.bkg-press {
    h1,
    p {
      color: white;
    }
    .overlay {
      @include background-opacity($nightshadz, 0.9);
    }
  }
  &.post-hero {
    @media only screen and (min-width: $large) {
      > .container {
        margin-left: calc(25vw + 50px);
      }
    }
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .overlay {
    @include background-opacity($goldendream, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  h1 {
    @include title-font;
    font-size: 46px;
    margin: 0;
    color: #313131;
  }
  p {
    margin: 0;
    color: #313131;
    font-size: 19px;
    line-height: 30px;
    &.large {
      font-size: 22px;
      margin-bottom: 15px;
    }
    &.title {
      @include title-font;
    }
  }
  &.bkg-black {
    .overlay {
      @include background-opacity($cod, 0.9);
    }
    h1 {
      color: $goldendream;
    }
    p {
      color: $white;
    }
  }
  &.about {
    background-image: url('/assets/images/covers/about.jpg');
  }
  &.process {
    background-image: url('/assets/images/covers/process.jpg');
  }
  &.team {
    background-image: url('/assets/images/covers/team.jpg');
  }
  &.focus {
    background-image: url('/assets/images/covers/focus.jpg');
  }
  &.contact {
    background-image: url('/assets/images/covers/contact.jpg');
  }
  &.news {
    background-image: url('/assets/images/covers/news.jpg');
  }
  &.portfolio {
    background-image: url('/assets/images/covers/portfolio.jpg');
  }
}

@media only screen and (min-width: $medium) {
  .hero {
    padding: 120px 0 60px;
    > .container {
      max-width: 680px;
      margin-left: calc((100vw - 680px) / 3);
    }
    h1 {
      font-size: 53px;
    }
  }
}

@media only screen and (min-width: $large) {
  .hero {
    > .container {
      max-width: 870px;
      margin-left: calc((100vw - 870px) / 3);
    }
  }
}