.hero {
  padding: 60px 0 40px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url('/assets/images/covers/detroit.jpg');
  > .container {
    z-index: 10;
  }
  &.bkg-blue {
    h1,
    p {
      color: white;
    }
    .overlay {
      @include background-opacity($danube, 0.9);
    }
  }
  &.post-hero {
    span {
      padding: 5px 10px;
    }
    h1 {
      margin-top: 10px;
    }
    .bkg-business {
      background: $danube;
      color: white;
    }
    .color-business {
      color: $danube;
    }
    .bkg-management {
      background: $goldendream;
      color: $cod;
    }
    .color-management {
      background: $goldendream;
    }
    .bkg-press {
      background: $nightshadz;
      color: white;
    }
    .color-press {
      color: $nightshadz;
    }
    @media only screen and (min-width: $large) {
      padding: 180px 0 0;
      > .container {
        margin-left: 25vw;
        padding: 20px 20px 20px 50px;
        max-width: 800px;
        background: white;
      }
    }
    @media only screen and (min-width: $xxlarge) {
      > .container {
        width: 50vw;
        max-width: 100%;
      }
    }
  }
  &.bio-hero {
    @media only screen and (min-width: $large) {
      > .container {
        margin-left: 430px;
      }
    }
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
  }
  .overlay {
    @include background-opacity($goldendream, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }
  h1 {
    @include title-font;
    font-size: 46px;
    margin: 0;
    color: #313131;
  }
  p,
  span {
    margin: 0;
    color: #313131;
    font-size: 19px;
    line-height: 30px;
    &.large {
      font-size: 22px;
      margin-bottom: 15px;
    }
    &.title {
      @include title-font;
    }
  }
  &.bkg-black {
    .overlay {
      @include background-opacity($cod, 0.9);
    }
    h1 {
      color: $goldendream;
    }
    p {
      color: $white;
    }
  }
  &.about {
    background-image: url('/assets/images/covers/about.jpg');
  }
  &.process {
    background-image: url('/assets/images/covers/process.jpg');
  }
  &.team {
    background-image: url('/assets/images/covers/team.jpg');
  }
  &.focus {
    background-image: url('/assets/images/covers/focus.jpg');
  }
  &.contact {
    background-image: url('/assets/images/covers/contact.jpg');
  }
  &.news {
    background-image: url('/assets/images/covers/news.jpg');
  }
  &.portfolio {
    background-image: url('/assets/images/covers/portfolio.jpg');
  }
  &.services {
    background-image: url('/assets/images/covers/services.jpg');
  }
}

@media only screen and (min-width: $medium) {
  .hero {
    padding: 120px 0 60px;
    > .container {
      max-width: 680px;
      margin-left: calc((100vw - 680px) / 3);
    }
    h1 {
      font-size: 53px;
    }
  }
}

@media only screen and (min-width: $large) {
  .hero {
    > .container {
      max-width: 870px;
      margin-left: calc((100vw - 870px) / 3);
    }
  }
}