.portfolio-grid {
  @include grid-boxes(2, 6, 1fr, 200px, 0);
  .project {
    position: relative;
    .show {
      &.box.content {
        width: 200%;
        height: 200%;
        z-index: 10;
        padding: 20px;
        opacity: 1;
      }
    }
    &:nth-child(odd) {
      .box.content {
        background: $danube;
        h3,
        p,
        li {
          color: white;
        }
      }
    }
    &:nth-child(even) {
      .box.content {
        background: $gray;
        h3,
        p,
        li {
          color: white;
        }
      }
    }
    ul {
      padding: 0;
      margin: 20px 0;
      list-style-type: none;
      li {
        margin-bottom: 5px;
        font-size: 13px;
        strong {
          letter-spacing: 1px;
          margin-right: 7px;
          color: $cod;
        }
      }
    }
  }
  .box.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    img {
      max-height: 50px;
      max-width: 55%;
      object-fit: contain;
      filter: grayscale(100%);
    }
  }
  .box.content {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.4s;
    .title {
      @include title-font;
    }
    .button {
      height: 32px;
      padding: 0 15px;
      &.muted {
        background: lightgray;
        border-color: lightgray;
        cursor: not-allowed;
        &:hover {
          background: lightgray;
          color: $cod;
        }
      }
    }
    .close {
      position: absolute;
      top: 8px;
      right: 10px;
      color: white;
      font-style: normal;
    }
  }
  @media only screen and (min-width: $medium) {
    @include grid-boxes(4, 3, 1fr, 200px, 0);
  }
  @media only screen and (min-width: $large) {
    @include grid-boxes(6, 2, 1fr, 200px, 0);
  }
  @media only screen and (max-width: 767px) {
    .project {
      &:nth-child(even) {
        background: $wildsand;
      }
      &:nth-child(odd) {
        background: white;
      }
      &.even-mobile {
        &:nth-child(even) {
          background: white;
        }
        &:nth-child(odd) {
          background: $wildsand;
        }
      }
      &.last-row-mobile {
        .box.content {
          bottom: 0;
          left: 0;
          top: auto;
        }
      }
      &.last-column-mobile {
        .box.content {
          right: 0;
          left: auto;
        }
      }
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .project {
      &:nth-child(even) {
        .box.logo {
          background: $wildsand;
        }
      }
      &:nth-child(odd) {
        .box.logo {
          background: white;
        }
      }
      &.even-tablet {
        &:nth-child(even) {
          .box.logo {
            background: white;
          }
        }
        &:nth-child(odd) {
          .box.logo {
            background: $wildsand;
          }
        }
      }
      &.last-row-tablet {
        .box.content {
          bottom: 0;
          top: auto;
        }
      }
      &.last-column-tablet {
        .box.content {
          right: 0;
          left: auto;
        }
      }
    }
  }
  @media only screen and (min-width: 992px) {
    .project {
      &:nth-child(even) {
        .box.logo {
          background: $wildsand;
        }
      }
      &:nth-child(odd) {
        .box.logo {
          background: white;
        }
      }
      &.even-desktop {
        &:nth-child(even) {
          .box.logo {
            background: white;
          }
        }
        &:nth-child(odd) {
          .box.logo {
            background: $wildsand;
          }
        }
      }
      &.last-row-desktop {
        .box.content {
          bottom: 0;
          top: auto;
        }
      }
      &.last-column-desktop {
        .box.content {
          right: 0;
          left: auto;
        }
      }
    }
  }
}