.social-sharing {
  margin-top: 50px;
  padding-top: 30px;
  border-top: 1px solid #d7d7d7;
  display: flex;
  align-items: center;
  .title {
    @include title-font;
    color: #808080;
  }
  .network.icon {
    width: 25px;
    height: 25px;
    margin-left: 20px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    &.twitter {
      background-image: url('/assets/images/icons/social-share-twitter.svg');
    }
    &.facebook {
      background-image: url('/assets/images/icons/social-share-facebook.svg');
    }
    &.link {
      background-image: url('/assets/images/icons/social-share-link.svg');
    }
    &.email {
      background-image: url('/assets/images/icons/social-share-email.svg');
    }
  }
}