.funds-template {
  // container overrides
  .container,
  .wide-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: block;
  }

  @mixin container-width($size) {
    @media only screen and (min-width: $size) {
      .container {
        width: $size - 30px;
      }
    }
  }

  @include container-width($small);
  @include container-width($medium);

  @media only screen and (min-width: $large) {
    .wide-container {
      width: 962px;
    }
    .container {
      width: 842px;
    }
  }

  // hero overrides
  .hero {
    &.funds {
      padding: 40px;
      min-height: 300px;
      justify-content: center;
      .overlay {
        background: rgba($cod, 0.75);
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
      }
      .content {
        z-index: 10;
        position: relative;
        h1 {
          line-height: 1.1;
          text-align: center;
          z-index: 10;
          position: relative;
          &.color-yellow {
            color: $goldendream;
          }
          &.color-blue {
            color: $danube;
          }
          &.color-red {
            color: $nightshadz;
          }
        }
        p {
          color: $white;
          text-align: center;
          font-size: 24px;
          &.larger {
            font-size: 32px;
            margin-top: 5px;
          }
          &:last-of-type {
            margin-top: 30px;
          }
        }
      }
      @media only screen and (min-width: $large) {
        min-height: 400px;
      }
    }
  }
  .introduction {
    @include grid-boxes(1, 2, 1fr, auto, 0);
    .col-lt {
      padding: 40px;
    }
    img {
      float: left;
      width: 175px;
      margin-right: 25px;
    }
    p {
      color: #747474;
      font-size: 18px;
      &.color-red {
        color: $nightshadz;
      }
      &.color-blue {
        color: $danube;
      }
      &.color-yellow {
        color: $goldendream;
      }
      &.color-black {
        color: $cod;
      }
    }
    .statistics {
      @include grid-boxes(1, 2, 1fr, auto, 0);
      .box {
        background: $goldendream;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        p {
          color: $cod;
        }
        &.bkg-yellow {
          background: $goldendream;
          p {
            color: $cod;
          }
        }
        &.bkg-red {
          background: $nightshadz;
          p {
            color: $white;
          }
        }
        &.bkg-blue {
          background: $danube;
          p {
            color: $white;
          }
        }
        &.bkg-black {
          background: $cod;
          p.color-yellow {
            color: $goldendream;
          }
          p.color-blue {
            color: $danube;
          }
          p.color-red {
            color: $nightshadz;
          }
        }
      }
      p.large {
        font-size: 70px;
        font-weight: 100;
        margin: 0;
        text-align: center;
      }
      p.small {
        @include title-font;
        text-align: center;
        margin: 0;
      }
    }
    @media only screen and (min-width: $medium) {
      .col-lt {
        padding: 80px;
      }
      .statistics {
        @include grid-boxes(2, 1, 1fr, auto, 0);
      }
    }
    @media only screen and (min-width: $large) {
      @include grid-boxes(2, 1, 1fr, auto, 0);
      .statistics {
        .box {
          padding: 100px 40px;
        }
      }
    }
  }
  .qualifications {
    .box {
      padding: 40px 0;
      background: #f9f9f9;
      &:first-of-type {
        background: #f3f3f3;
      }
    }
    p, ul, li {
      color: #747474;
    }
    ul {
      padding-left: 15px;
    }
    @media only screen and (min-width: $medium) {
      @include grid-boxes(2, 1, 1fr, auto, 0);
      .box {
        padding: 40px;
        > .container {
          width: 100%;
          max-width: 100%;
        }
      }
    }
    @media only screen and (min-width: $large) {
      .box {
        padding: 70px;
      }
    }
  }
  .apply {
    @include grid-boxes(1, 2, 1fr, auto, 0);
    .box:not(.image) {
      padding: 30px 0;
    }
    .box.image {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    @media only screen and (min-width: $medium) {
      @include grid-boxes(2, 1, 1fr, auto, 0);
      .box:not(.image) {
        padding: 40px;
        > .container {
          width: 100%;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
      }
    }
    @media only screen and (min-width: $large) {
      .box:not(.image) {
        padding: 70px;
        p {
          font-size: 20px;
        }
      }
    }
  }
  .app-process {
    $bullet_width: 40px;
    .graph-container {
      &.border-yellow {
        p.days {
          color: $goldendream;
        }
        .img-container {
          border-left: 2px solid $goldendream;
        }
      }
      &.border-red {
        p.days {
          color: $nightshadz;
        }
        .img-container {
          border-left: 2px solid $nightshadz;
        }
      }
      &.border-black {
        p.days {
          color: $cod;
        }
        .img-container {
          border-left: 2px solid $cod;
        }
      }
      &.border-blue {
        p.days {
          color: $danube;
        }
        .img-container {
          border-left: 2px solid $danube;
        }
      }
      p {
        margin: 0;
        &.days {
          @include title-font;
          font-size: 14px;
        }
      }
    }
    .graph-container {
      display: flex;
      width: 220px;
      margin: 0 auto;
      > .container {
        width: 40px;
      }
      .img-container {
        position: relative;
        height: 90px;
        img {
          position: absolute;
          top: 0;
          left: -20px;
          width: $bullet_width;
          height: $bullet_width;
        }
        &:last-of-type {
          border-left: none;
        }
      }
      .step {
        height: 90px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    @media only screen and (min-width: $large) {
      .graph-container {
        display: block;
        margin: 80px 0 0;
        width: 100%;
        &.border-yellow {
          .line {
            background: $goldendream;
          }
        }
        &.border-red {
          .line {
            background: $nightshadz;
          }
        }
        &.border-blue {
          .line {
            background: $danube;
          }
        }
        &.border-black {
          .line {
            background: $cod;
          }
        }
        > .container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          width: 842px;
          .svg-container {
            width: 100%;
            position: absolute;
            height: 100%;
            top: 50%;
            margin-top: -16px;
            svg {
              width: 0;
              height: 2px;
              top: 20px;
              left: 0;
              transition: width 2.9s linear;
            }
            &.visible {
              svg {
                width: 100%;
              }
            }
          }
          .img-container {
            border-left: none;
            height: auto;
            img {
              top: -20px;
              left: -20px;
              width: 40px;
              height: 40px;
              opacity: 0;
              &.visible {
                opacity: 1;
              }
            }
            &:nth-child(2) {
              img {
                transition: opacity 0.4s ease-in;
              }
            }
            &:nth-child(3) {
              img {
                transition: opacity 0.4s ease-in 0.5s;
              }
            }
            &:nth-child(4) {
              img {
                transition: opacity 0.4s ease-in 1.0s;
              }
            }
            &:nth-child(5) {
              img {
                transition: opacity 0.4s ease-in 1.5s;
              }
            }
            &:nth-child(6) {
              img {
                transition: opacity 0.4s ease-in 2.0s;
              }
            }
            &:nth-child(7) {
              img {
                transition: opacity 0.4s ease-in 2.5s;
              }
            }
          }
        }
      }
      .bar-graph {
        margin-top: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        .step {
          padding: 0 5px;
          width: calc(100% / 6);
        }
        p {
          text-align: center;
        }
      }
    }
  }
  .bkg-red {
    background: $nightshadz;
    h2,
    p {
      color: $white;
    }
  }
  .bkg-blue {
    background: $danube;
    h2,
    p {
      color: $white;
    }
  }
  .bkg-black {
    background: $cod;
    h2,
    p {
      color: $white;
    }
  }
  .bkg-yellow {
    background: $goldendream;
  }
}