.funds-template {
  // container overrides
  .container,
  .wide-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    height: 100%;
    display: block;
  }

  @mixin container-width($size) {
    @media only screen and (min-width: $size) {
      .container {
        width: $size - 30px;
      }
    }
  }

  @include container-width($small);
  @include container-width($medium);

  @media only screen and (min-width: $large) {
    .wide-container {
      width: 962px;
    }
    .container {
      width: 842px;
    }
  }

  // hero overrides
  .hero {
    height: 500px;
    &.funds {
      padding: 0;
      h1 {
        line-height: 1.1;
      }
      .container {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .information-box {
        z-index: 2;
        padding: 30px 60px 30px 40px;
        .logo-container {
          background: $white;
          height: 100px;
          width: 100px;
          border-radius: 100px;
          margin-bottom: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            max-height: 50%;
            max-width: 50%;
          }
        }
        .content {
          flex: 1;
        }
        &.bkg-yellow {
          background: $goldendream;
        }
        &.bkg-blue {
          background: $danube;
        }
        &.bkg-red {
          background: $nightshadz;
        }
        &.bkg-black {
          background: $cod;
        }
      }
      p {
        margin: 0 0 20px;
      }
    }
    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    &.bkg-yellow {
      .overlay {
        background: rgba($goldendream, 0.9);
      }
    }
    &.bkg-blue {
      .overlay {
        background: rgba($danube, 0.9);
      }
      h1,
      p {
        color: $white;
      }
    }
    &.bkg-black {
      .overlay {
        background: rgba($cod, 0.9);
      }
      h1,
      p {
        color: $white;
      }
    }
    &.bkg-red {
      .overlay {
        background: rgba($nightshadz, 0.9);
      }
      h1,
      p {
        color: $white;
      }
    }
  }
  
  @media only screen and (min-width: $medium) {
    .hero {
      &.funds {
        .information-box {
          display: flex;
          align-items: center;
          .logo-container {
            margin: 0 15px 0 0;
          }
        }
      }
    }
  }
  
  @media only screen and (min-width: $large) {
    .hero {
      &.funds {
        > .container {
          max-width: $large - 30px;
          margin: 0 auto;
        }
        .information-box {
          .logo-container {
            width: 200px;
            height: 200px;
            border-radius: 200px;
            margin-right: 30px;
          }
        }
      }
    }
  }
  .introduction {
    p {
      color: #747474;
      &.color-red {
        color: $nightshadz;
      }
      &.color-blue {
        color: $danube;
      }
      &.color-yellow {
        color: $goldendream;
      }
      &.color-black {
        color: $cod;
      }
    }
    .statistics {
      p.large {
        font-size: 70px;
        font-weight: 100;
        margin: 40px 0 0;
        text-align: center;
      }
      p.small {
        @include title-font;
        text-align: center;
        margin: 0;
      }
    }
    @media only screen and (min-width: $medium) {
      .statistics {
        display: flex;
        justify-content: center;
        .box:first-of-type {
          margin-right: 90px;
        }
      }
    }
  }
  .qualifications {
    .box {
      padding: 40px 0;
      background: #f9f9f9;
      &:first-of-type {
        background: #f3f3f3;
      }
    }
    h2 {
      @include title-font;
    }
    p, ul, li {
      color: #747474;
    }
    ul {
      padding-left: 15px;
    }
    @media only screen and (min-width: $medium) {
      @include grid-boxes(2, 1, 1fr, auto, 0);
      .box {
        padding: 40px;
        > .container {
          width: 100%;
          max-width: 100%;
        }
      }
    }
    @media only screen and (min-width: $large) {
      .box {
        padding: 70px;
      }
    }
  }
  .apply {
    @include grid-boxes(1, 2, 1fr, auto, 0);
    .box:not(.image) {
      padding: 30px 0;
    }
    .box.image {
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    @media only screen and (min-width: $medium) {
      @include grid-boxes(2, 1, 1fr, auto, 0);
      .box:not(.image) {
        padding: 40px;
        > .container {
          width: 100%;
          max-width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }
      }
    }
    @media only screen and (min-width: $large) {
      .box:not(.image) {
        padding: 70px;
      }
    }
  }
  .app-process {
    background: $wildsand;
    $bullet_width: 40px;
    .graph-container {
      &.border-yellow {
        p.days {
          color: $goldendream;
        }
      }
      &.border-red {
        p.days {
          color: $nightshadz;
        }
      }
      &.border-black {
        p.days {
          color: $cod;
        }
      }
      &.border-blue {
        p.days {
          color: $danube;
        }
      }
      p {
        margin: 0;
        &.days {
          @include title-font;
          font-size: 14px;
        }
      }
    }
    .bar-graph {
      width: 220px;
      margin: $bullet_width auto 0;
      img {
        position: absolute;
        top: 0;
        left: -20px;
        width: $bullet_width;
        height: $bullet_width;
      }
    }
    @media only screen and (min-width: $large) {
      .graph-container {
        margin: 80px 0 0;
        &.border-yellow {
          .line {
            background: $goldendream;
          }
        }
        &.border-red {
          .line {
            background: $nightshadz;
          }
        }
        &.border-blue {
          .line {
            background: $danube;
          }
        }
        &.border-black {
          .line {
            background: $cod;
          }
        }
        .container {
          display: flex;
          align-items: center;
          justify-content: space-between;
          position: relative;
          .svg-container {
            width: 100%;
            position: absolute;
            height: 100%;
            top: 50%;
            margin-top: -16px;
            svg {
              width: 0;
              height: 2px;
              top: 20px;
              left: 0;
              transition: width 2.9s linear;
            }
            &.visible {
              svg {
                width: 100%;
              }
            }
          }
          .img-container {
            position: relative;
            img {
              top: -20px;
              left: 0;
              width: 40px;
              height: 40px;
              opacity: 0;
              &.visible {
                opacity: 1;
              }
            }
            &:nth-child(2) {
              img {
                transition: opacity 0.4s ease-in;
              }
            }
            &:nth-child(3) {
              img {
                transition: opacity 0.4s ease-in 0.5s;
              }
            }
            &:nth-child(4) {
              img {
                transition: opacity 0.4s ease-in 1.0s;
              }
            }
            &:nth-child(5) {
              img {
                transition: opacity 0.4s ease-in 1.5s;
              }
            }
            &:nth-child(6) {
              img {
                transition: opacity 0.4s ease-in 2.0s;
              }
            }
            &:nth-child(7) {
              img {
                transition: opacity 0.4s ease-in 2.5s;
              }
            }
          }
        }
      }
      .bar-graph {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .step {
          padding: 0 5px;
          width: calc(100% / 6);
        }
        p {
          text-align: center;
        }
      }
    }
  }
  .bkg-red {
    background: $nightshadz;
    h2,
    p {
      color: $white;
    }
  }
  .bkg-blue {
    background: $danube;
    h2,
    p {
      color: $white;
    }
  }
  .bkg-black {
    background: $cod;
    h2,
    p {
      color: $white;
    }
  }
  .bkg-yellow {
    background: $goldendream;
  }
}