---
layout: default
---

<div class="funds-template">
  <section class="hero funds bkg-{{ page.fund.color }}">
    <img src="{{ page.fund.hero.image }}" alt="{{ page.fund.hero.alt }}">
    <div class="overlay"></div>
    <div class="container">
      <div class="information-box">
        <div class="logo-container">
          <img src="{{ page.fund.icon.image }}" alt="{{ page.fund.icon.alt }}" class="visible">
        </div>
        <div class="content">
          <h1 class="visible">{{ page.fund.name }}</h1>
          <p class="visible"><em>{{ page.fund.market }}</em></p>
          <!-- <a
            href="https://app.sidepitch.com/auth/register"
            class="button inverse"
            target="_blank"
          >
            Apply with City Side
          </a> -->
        </div>
      </div>
    </div>
  </section>
  <section class="introduction padded-section">
    <div class="container">
      <p class="visible">{{ page.fund.intro }}</p>
      <div class="statistics">
        <div class="box hidden">
          <p id="capital" class="large color-{{ page.fund.color }}">{{ page.fund.investmentCapital }}</p>
          <p class="small">in investment capital</p>
        </div>
        <div class="box hidden">
          <p id="investment" class="large color-{{ page.fund.color }}">{{ page.fund.maxInvestmentSize }}</p>
          <p class="small">maximum investment size</p>
        </div>
      </div>
    </div>
  </section>
  <section class="qualifications">
    <div class="box hidden">
      <div class="container">
        <h2 class="color-{{ page.fund.color }}">Minimum Qualifications</h2>
        <p>
          <em>
            Companies that are considering applying must be qualified based on the following:
          </em>
        </p>
        <ul>
          {% for qualification in page.fund.minimumQualifications %}
            <li>{{ qualification }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="box hidden">
      <div class="container">
        <h2 class="color-{{ page.fund.color }}">Funding Requirements</h2>
        <p>
          <em>
            Companies that will qualify for the fund will agree to the following conditions:
          </em>
        </p>
        <ul>
          {% for requirement in page.fund.fundingRequirements %}
            <li>{{ requirement }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  <section class="app-process padded-section">
    <div class="wide-container">
      <h2 class="hidden">The application process</h2>
      <p class="hidden">
        City Side provides solutions to find and manage investments for investors
        and corporate ventures using today's technology. With the development of our
        online Venture Management System (VMS), we have automated the process of
        investments from start to finish.
      </p>
      <div class="graph-container border-{{ page.fund.color }}">
        <div class="container">
          <div class="svg-container hidden">
            <span style="display: none; visibility: hidden;">&nbsp;</span>
            <svg viewBox="0 0 100 2" xmlns="http://www.w3.org/2000/svg" class="line">
              <line x1="0" y1="0" x2="100" y2="0">
            </svg>
          </div>
          <div class="img-container">
            <img src="{{ page.fund.bullet }}" alt="bullet point" class="hidden">
          </div>
          <div class="img-container">
            <img src="{{ page.fund.bullet }}" alt="bullet point" class="hidden">
          </div>
          <div class="img-container">
            <img src="{{ page.fund.bullet }}" alt="bullet point" class="hidden">
          </div>
          <div class="img-container">
            <img src="{{ page.fund.bullet }}" alt="bullet point" class="hidden">
          </div>
          <div class="img-container">
            <img src="{{ page.fund.bullet }}" alt="bullet point" class="hidden">
          </div>
          <div class="img-container">
            <img src="{{ page.fund.bullet }}" alt="bullet point" class="hidden">
          </div>
        </div>
        
        <div class="bar-graph">
          <div class="step">
            <p><em>Application Submitted</em></p>
          </div>
          <div class="step">
            <p class="days">0 - 14 days</p>
            <p><em>Application Review</em></p>
          </div>
          <div class="step">
            <p class="days">14 - 25 days</p>
            <p><em>Due Diligence</em></p>
          </div>
          <div class="step">
            <p class="days">25 - 30 days</p>
            <p><em>Final Selection</em></p>
          </div>
          <div class="step">
            <p class="days">30 - 35 days</p>
            <p><em>Final Decision</em></p>
          </div>
          <div class="step">
            <p class="days">35 - 45 days</p>
            <p><em>Deal Closure</em></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="apply">
    <div class="box bkg-{{ page.fund.color }}">
      <div class="container">
        <h2 class="hidden">How to Apply</h2>
        <p class="hidden">
          To make sure that we process your request quickly and efficiently, we will be
          using Sidepitch as our venture fund management system. Please read the instructions
          and follow the process for quick turn around. We will not respond until the
          application process is complete and submitted. Please use our unique Pitchmark.
        </p>
        <a href="" class="button inverse">Apply with City Side</a>
      </div>
    </div>
    <div class="box image">
      <img src="{{ page.fund.contentImage.image }}" alt="{{ page.fund.contentImage.alt }}">
    </div>
  </section>
  <!-- <section class="portfolio padded-section">
    <div class="container">
      <h2>The {{ page.fund.name }} Portfolio</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi vero ea labore eveniet,
        cum distinctio sunt quisquam, delectus deserunt quidem ut? Quaerat reprehenderit
        asperiores molestiae, ullam debitis consequatur quidem numquam.
      </p>
    </div>
  </section> -->
</div>