---
layout: default
---

<div class="funds-template">
  <section class="hero funds bkg-{{ page.fund.color }}">
    <img src="{{ page.fund.hero.image }}" alt="{{ page.fund.hero.alt }}">
    <div class="overlay"></div>
    <div class="container">
      <div class="information-box">
        <div class="logo-container">
          <img src="{{ page.fund.icon.image }}" alt="{{ page.fund.icon.alt }}">
        </div>
        <div class="content">
          <h1>{{ page.fund.name }}</h1>
          <p><em>{{ page.fund.market }}</em></p>
          <a
            href="https://app.sidepitch.com/auth/register"
            class="button inverse"
            target="_blank"
          >
            Apply with City Side
          </a>
        </div>
      </div>
    </div>
  </section>
  <section class="introduction padded-section">
    <div class="container">
      <p>{{ page.fund.intro }}</p>
      <div class="statistics">
        <div class="box">
          <p class="large color-{{ page.fund.color }}">{{ page.fund.investmentCapital }}</p>
          <p class="small">in investment capital</p>
        </div>
        <div class="box">
          <p class="large color-{{ page.fund.color }}">{{ page.fund.maxInvestmentSize }}</p>
          <p class="small">maximum investment size</p>
        </div>
      </div>
    </div>
  </section>
  <section class="qualifications">
    <div class="box">
      <div class="container">
        <h2 class="color-{{ page.fund.color }}">Minimum Qualifications</h2>
        <p>
          <em>
            Companies that are considering applying must be qualified based on the following:
          </em>
        </p>
        <ul>
          {% for qualification in page.fund.minimumQualifications %}
            <li>{{ qualification }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="box">
      <div class="container">
        <h2 class="color-{{ page.fund.color }}">Funding Requirements</h2>
        <p>
          <em>
            Companies that will qualify for the fund will agree to the following conditions:
          </em>
        </p>
        <ul>
          {% for requirement in page.fund.fundingRequirements %}
            <li>{{ requirement }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </section>
  <section class="apply">
    <div class="box bkg-{{ page.fund.color }}">
      <div class="container">
        <h2>How to Apply</h2>
        <p>
          To make sure that we process your request quickly and efficiently, we will be
          using Sidepitch as our venture fund management system. Please read the instructions
          and follow the process for quick turn around. We will not respond until the
          application process is complete and submitted. Please use our unique Pitchmark.
        </p>
        <a href="" class="button inverse">Apply with City Side</a>
      </div>
    </div>
    <div class="box image">
      <img src="{{ page.fund.contentImage.image }}" alt="{{ page.fund.contentImage.alt }}">
    </div>
  </section>
  <section class="app-process padded-section">
    <div class="container">
      <h2>The application process</h2>
      <p>
        City Side provides solutions to find and manage investments for investors
        and corporate ventures using today's technology. With the development of our
        online Venture Management System (VMS), we have automated the process of
        investments from start to finish.
      </p>
      <div class="bar-graph">
        <div class="section border-{{ page.fund.color }}">
          <img src="{{ page.fund.bullet }}" alt="bullet point">
          <div class="step">
            <p><em>Application Submitted</em></p>
          </div>
        </div>
        <div class="section border-{{ page.fund.color }}">
          <img src="{{ page.fund.bullet }}" alt="bullet point">
          <div class="step">
            <p class="days">0 - 14 days</p>
            <p><em>Application Review</em></p>
          </div>
        </div>
        <div class="section border-{{ page.fund.color }}">
          <img src="{{ page.fund.bullet }}" alt="bullet point">
          <div class="step">
            <p class="days">14 - 25 days</p>
            <p><em>Due Diligence</em></p>
          </div>
        </div>
        <div class="section border-{{ page.fund.color }}">
          <img src="{{ page.fund.bullet }}" alt="bullet point">
          <div class="step">
            <p class="days">25 - 30 days</p>
            <p><em>Final Selection</em></p>
          </div>
        </div>
        <div class="section border-{{ page.fund.color }}">
          <img src="{{ page.fund.bullet }}" alt="bullet point">
          <div class="step">
            <p class="days">30 - 35 days</p>
            <p><em>Final Decision</em></p>
          </div>
        </div>
        <div class="section border-{{ page.fund.color }}">
          <img src="{{ page.fund.bullet }}" alt="bullet point">
          <div class="step">
            <p class="days">35 - 45 days</p>
            <p><em>Deal Closure</em></p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="portfolio padded-section">
    <div class="container">
      <h2>The {{ page.fund.name }} Portfolio</h2>
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi vero ea labore eveniet,
        cum distinctio sunt quisquam, delectus deserunt quidem ut? Quaerat reprehenderit
        asperiores molestiae, ullam debitis consequatur quidem numquam.
      </p>
    </div>
  </section>
</div>