---
layout: default
---

<section class="hero post-hero bkg-{{ page.tag }}" style="background-image: url('{{ page.image }}');">
  <div class="container">
    <p class="title">{{ page.tag }}</p>
    <h1>{{ page.title }}</h1>
  </div>
  <div class="overlay"></div>
</section>

<div class="news-grid post-page">
  {% include blog-sidebar.html %}
  <div id="content">
    <div class="post padded-section">
      By {{ page.author }}
      {{ content }}
      <div class="social-sharing">
        <p class="title">Share this post</p>
        <social-sharing network="twitter"></social-sharing>
        <social-sharing network="facebook"></social-sharing>
        <social-sharing network="email"></social-sharing>
      </div>
    </div>
  </div>
</div>