---
layout: default
---

<section class="hero bkg-{{ page.tag }}">
  <div class="container">
    <h1 class="visible">News: {{ page.tag }}</h1>
  </div>
  <div class="overlay"></div>
</section>

<div class="news-grid">
  {% include blog-sidebar.html %}
  <div class="articles" id="relative-anchor-for-stick">
    {% assign posts = site.posts | where: 'tags', page.tag %}
    {% for post in posts %}
      <div class="box {{ post.tags[0] | downcase }} visible">
        <a href="{{ post.url }}"></a>
        <img src="{{ post.image }}" alt="">
        <div class="content">
          <p class="tag">{{ post.tag }}</p>
          <h2 class="title">{{ post.title }}</h2>
          <p>{{ post.content | markdownify | strip_html | slice: 0,250 }}...</p>
          <div class="read-more" href="{{ post.url }}">
            <span class="overlay"></span>
            <img src="/assets/images/icons/news.svg" alt="">
            Read More
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>