*,
*:after,
*:before {
  font-family: $font;
  font-weight: 400;
}

strong {
  font-weight: 600;
}

.font-weight-light {
  font-weight: 100;
}

p, 
li, 
a,
address {
  line-height: 1.5;
  font-size: 16px;
  color: $cod;
  @media only screen and (min-width: $xxlarge) {
    font-size: 20px;
  }
}

h1 {
  font-size: 53px;
  color: $goldendream;
}

h2 {
  font-size: 36px;
  font-weight: 100;
  margin: 0;
  color: $cod;
  & + p {
    margin-top: 0;
  }
}

.color-yellow {
  color: $goldendream;
}

.color-blue {
  color: $danube;
}

.color-red {
  color: $cerise;
}